/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.staging
.env.backup
.env.production
.env.clarion-internal-tool
Dockerswarm.md
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.DS_Store
notes.md
fine-tuning/*
docker-compose.yml
docker/*
package-lock.json
/.editorconfig
phpunit.xml